# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
target/
build/
out/
.classpath
.project
.settings/
.idea/
*.iml
*.ipr
*.iws

# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.dbmdl
*.pdb
*.ipch
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.ReSharper*/
*/Debug/
*/Release/
*/x64/Debug/
*/x64/Release/
*/bin/
*/obj/

# Visual Studio Code
.vscode/
